.footer{
	background: #393a39;
	color:#fff;
	text-align: center;
	font-family: "Heebo";
	font-weight: 300;
	font-size: 16px;
	height: 86px;
	display: flex;
	justify-content: center;
	align-items: center;

	address{
	font-style: normal;
	margin: 0 370px 0 370px;
	}
}	img{
	margin-left: 16px;
}