doctype html
<html lang="ru-RU">
	include head.pug
	include variables.pug
	body
		.page
			.page__content
				include header.pug
				include topic.pug
				include main.pug
			include footer.pug

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>