.main__right
	.main__right-guide
		h3 #[small The ultimate apple] #[br] i pad Guide
		img(src='img/pads.png')
	.main__right-special
		.main__right-special-circle
			h1 12 
			h2 week
		h3 Lorem ipsum
		p Lorem Ipsum is simply dummy
		button join us now!
	.main__right-join
		h4 join our mailing
		p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
		form
			input(type = 'text' placeholder='Name' class='name')
			input(type='email' placeholder='email address' id='email')
			input(type='submit' value='sign me up!' id='submit')